/* Header */
#header {
	position: fixed;
	top: 0;
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 5.5rem;
}

#header-name {
	margin-left: 4rem;
	font-family: var(--body);
}

#social-icon-wrapper {
	display: flex;
	justify-content: space-around;
	height: 100%;
	width: 20%;
	min-width: 200px;
}

.header-icon {
	width: 3rem;
	border-radius: 20%;
	margin-top: 0.5rem;
}

/* Footer */
.footer {
	position: fixed;
	bottom: 0;
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 3rem;
	justify-content: space-around;
}
.footer-tab {
	width: 25%;
	text-decoration: none;
}
.tab-text {
	font-size: 1.5rem;
	margin-top: 0.25rem;
	text-align: center;
	font-family: var(--body);
	font-weight: bold;
}
#about-tab {
	background-color: var(--about);
}
#projects-tab {
	background-color: var(--projects);
}
#cv-tab {
	background-color: var(--cv);
}
#contact-tab {
	background-color: var(--contact);
}

.background {
	position: fixed;
	height: 100vh;
	width: 100vw;
	top: 0;
	z-index: -1;
}

.about-bg {
	transition: var(--colour-transition);
	background-color: var(--about);
}
.projects-bg {
	transition: var(--colour-transition);
	background-color: var(--projects);
}
.cv-bg {
	transition: var(--colour-transition);
	background-color: var(--cv);
}
.contact-bg {
	transition: var(--colour-transition);
	background-color: var(--contact);
}

/* Main page */
.page {
	margin: 10rem 4rem 4rem 4rem;
}

/* About page */
#about-top-section-wrapper {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

#about-text-container {
	width: 60%;
}

/* Slideshow */
.slideshow-frame {
	margin: 0 auto;
	overflow: hidden;
	width: 30vw;
	height: 30vw;
	border-radius: 40px;
}

.slides {
	white-space: nowrap;
	transition: ease-in-out 2000ms;
}

.slide {
	display: inline-block;
	width: 30vw;
	height: 30vw;
}

.slide-text-frame {
	margin: 0 auto;
	overflow: hidden;
	width: 30vw;
	height: 2.2rem;
}

.slide-texts {
	white-space: nowrap;
	transition: ease-in-out 2000ms;
}

.slide-text {
	display: inline-block;
	width: 30vw;
	text-align: center;
}
