:root {
	--about: #C2F9BB;
	--projects: #EFCFE3;
	--cv: #BEE0E4;
	--contact: #CCC2E1;
	--body: 'Space Mono';
	--title: 'Krona One';
  --colour-transition: 0.8s;
}

* {
	padding: 0;
	margin: 0;
	font-size: 16px;
	box-sizing: border-box;
}

h1 {
	font-size: 3rem;
	font-family: var(--title);
}

h2 {
  font-size: 2rem;
  font-family: var(--title);
}

h3 {
  font-size: 1.5rem;
  font-family: var(--title);
}

p {
  font-family: var(--body);
}

button {
  margin: 0;
  padding: 0;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.krona-one-regular {
  font-family: "Krona One", sans-serif;
  font-weight: 400;
  font-style: normal;
}